:root {
--branding-color:#9FA59C;
--heading-font-family:'DM Serif Display', serif;
--default-font-family:'Darker Grotesque', sans-serif;
--secondary-color: #EFEDE7;
}

body {
    font-family: var(--default-font-family);
    background-color: #EFEDE7;
}

header {
    background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 80px;
    line-height: 1.5;
}

h2 {
    font-size: 62px;
}

h3 {
    font-size: 48px;
}

p {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: black;

}

h1.contact-heading {
    font-size: 40px;
}


.hero {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 80px 20px;
}

.hero p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: black;
}

.hero h2 {
    font-family: var(--heading-font-family);
    font-weight: normal;
    line-height: 1.5;
    font-size: 24px;
}

.content-container {
    padding: 60px 20px;
}

.content h1 {
font-size: px;
line-height: 80px;
}

.content h2 {
    font-size: 30px;
    font-family: var(--default-font-family);
}

.content h3 {
    font-size: 24px;
    line-height: 1.5;
    font-family: var(--default-font-family);
}

.content p {
    font-size: 20px;
}

.content {
    margin: 30px;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
}

.btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
}

.project-description {
    padding: 120px 60px;
}

.logo {
    max-height: 40px;
}

nav {
    padding: 20px 0;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
    font-size: 20px;
}

nav a.home {
    font-family: 'Gruppo', cursive;
    font-size: 30px;
    border: 1px solid black;
    padding: 2px 5px;
}

nav a:hover,
nav li.active a {
    color: var(--branding-color);
}

.pronouns {
    font-size: 13px;
  }

footer {
    margin: 0 auto;
    background-color: white;
    padding: 10px 10px;
}

footer .social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    background-color: var(--secondary-color);
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    color: white;
    background-color: var(--branding-color);
}

.tech-grid {
    display: grid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 34px;
  }

  .tech-list li {
    list-style: none;
    font-size: 18px;
  }

  p a.design-link {
    text-decoration: none;
    color: black;
  }
  
  p a.design-link:hover {
    font-weight: bolder;
    font-size: larger;
    transition: all 200ms ease-in-out;
  }

@media (max-width: 900px) {
h1 {
    font-size: 44px;
    line-height: 56px;
}

h2 {
    font-size: 44px;
}

h3 {
    font-size: 26px;
}

nav a {
    font-size: 14px;
    }


.hero {
    padding: 80px 20px;
}

.content {
    text-align: center;
    padding: 0;
}

.project-description {
     padding: 0;
    text-align: center;
    }
    
}